:root {
  --darkBlue: rgb(45, 49, 77);
  --limeGreen: rgb(49, 211, 92);
  --brightCyan: rgb(43, 183, 218);

  --grayishBlue: rgb(150, 152, 166);
  --lightGrayishBlue: rgb(243, 244, 246);
  --veryLightGray: rgb(250, 250, 250);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--grayishBlue);
  scroll-behavior: smooth;
}
body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
  width: 16px;
  padding-top: 80px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 4px 5px grey;
}

::-webkit-scrollbar-thumb {
  background: var(--darkBlue);
  border-radius: 30px;
  height: 56px;
  border: 4px solid transparent;
  background-clip: content-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--darkBlue);
  font-weight: 500;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.2rem;
}

.bg-header {
  background: var(--white);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 111;
  width: 100%;
  min-width: 300px;
  max-width: 1800px;
}

.header .brand {
  /* width: 150px;  */
  height: 22px;
}

.flex {
  display: flex;
}

.navContainer ul {
  gap: 30px;
}

.navContainer ul li {
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.navContainer ul li a:hover + .rectangle {
  background: var(--limeGreen);
}

.navContainer ul li a:hover {
  color: var(--darkBlue);
}

.rectangle {
  position: absolute;
  background: transparent;
  display: block;
  width: 30px;
  height: 5px;
  top: 40px;
}

.requestBtn {
  all: unset;
  background: linear-gradient(90deg, var(--limeGreen), var(--brightCyan));
  height: 40px;
  width: 150px;
  text-align: center;
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
}

.requestBtn:hover {
  opacity: 0.55;
}

main {
    width: 100%;
  min-width: 300px;
  max-width: 1800px;
}

.hero {
  height: 600px;
  background: url('images/bg-intro-desktop.svg') no-repeat;
  background-size: cover;
  background-position: 500px -250px;
  gap: 20px;
  position: relative;
}

.heroImg {
  position: absolute;
  height: 770px;
  width: 600px;
  object-fit: cover;
  right: 0;
}

.heroText {
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.heroText h1 {
  font-size: 3rem;
}

.heroText p {
  width: 45ch;
}

.hero-2 {
  background-color: var(--lightGrayishBlue);
}

.features {
  margin-top: 80px;
  gap: 30px;
}

.features section {
  flex-direction: column;
  gap: 30px;
}

.features section img {
  width: 72px;
  height: 72px;
}

.article-container {
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

.article-container article {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 22%;
  height: 500px;
  padding-bottom: 30px;
}

.article-container article > *:not(img) {
  padding: 0 20px;
}

.article-container article p:last-child {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  font-size: 0.95rem;
}

.article-container article img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.article-container article h4 {
  margin: 10px 0;
  color: var(--darkBlue);
}

.article-container article h4:hover {
  color: var(--limeGreen);
}

footer {
  background: var(--darkBlue);
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  gap: 20px;
  min-width: 300px; 
  max-width: 1800px;
}
footer > * {
  width: 25%;
}
.socialBrands {
  flex-direction: column;
  justify-content: space-between;
}

.socialBrands .brand {
  width: 150px;
  filter: invert();
}

.socials {
  gap: 10px;
  margin-top: auto;
}

.footerLinks {
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr;
  gap: 20px;
  color: var(--white);
}

.footerLinks a:hover {
  color: var(--limeGreen);
}

.invitation {
  margin-left: auto;
  width: max-content;
  flex-direction: column;
  align-items: end;
  gap: 30px;
}

.navContainer ul li a,
.requestBtn,
.article-container article h4,
.footerLinks a {
  transition: all 0.3s linear;
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 15px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Helpers */
.p-120-y {
  padding-top: 120px;
  padding-bottom: 120px;
}
.pd-150-xy {
  padding-left: 150px;
  padding-right: 150px;
}

.pd-150-left {
  padding-left: 150px;
}

@media screen and (max-width: 1600px) {
  .pd-150-xy {
    padding-left: 90px;
    padding-right: 90px;
  }
  .pd-150-left {
    padding-left: 90px;
  }
}

@media screen and (max-width: 1257px) {
  .article-container {
    flex-wrap: wrap;
    row-gap: 50px;
  }

  .article-container article {
    width: 45%;
    height: 480px;
  }
  .features {
    flex-wrap: wrap;
  }

  .features section {
    width: 45%;
  }
}
@media screen and (max-width: 1120px) {
  .pd-150-xy {
    padding-left: 50px;
    padding-right: 50px;
  }
  .pd-150-left {
    padding-left: 50px;
  }
  .heroImg {
    width: 520px;
    height: 600px;
  }
}
@media screen and (max-width: 993px) {
    footer{
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
    footer > * {
        width: 100%;
    }

    .socialBrands{
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .socials{
        gap: 20px;
    }
    .socials img{
        width: 30px;
        height: 30px;
    }
    .footerLinks{
        grid-template: 1fr / 1fr;
        text-align: center;
        font-size: 1.2rem;
        gap: 30px; 
    } 

    .invitation{
        align-items: center;
    }

    .invitation .requestBtn{
        margin: auto;
    }

}
@media screen and (max-width: 985px) {
  .hero {
    flex-direction: column-reverse;
    background: transparent;
    height: auto;
    padding-bottom: 90px;
    overflow: hidden;
  }
  .heroText {
    align-items: center;
    width: 100%;
    padding: 50px;
  }
  .heroText h1,
  .heroText p {
    text-align: center;
    width: 100%;
  }

  .heroImg {
    width: 100%;
    height: 600px;
    position: relative;
    object-fit: contain;
    background: url('images/bg-intro-mobile.svg') no-repeat;
    background-position: right -300px;
    background-size: cover;
    display: block;
    object-position: center -50px;
    scale: 1.2;
  }
}
@media screen and (max-width: 860px) {
  .heroImg {
    background-position: right -200px;
  }
}
@media screen and (max-width: 723px) {
  .heroImg {
    background-position: right -100px;
  }
  .pd-150-xy {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 640px) {
  h2 {
    text-align: center;
  }
  h2 + p {
    text-align: center;
  }

  .heroImg {
    height: 500px;
  }
  .article-container article {
    height: 480px;
  }

  .article-container article,
  .features section {
    width: 100%;
  }

  .features section {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 571px) {
  .heroImg {
    background-position: right -50px;
  }
}
@media screen and (max-width: 520px) {
  .heroImg {
    height: 400px;
  }
}
@media screen and (max-width: 520px) {
  .heroImg {
    scale: 1;
  }
}
